@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,600&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=El+Messiri&display=swap&subset=cyrillic');

.movie-page {
    margin: 20px;
    box-shadow: 0px 0px 8px 1px rgba(3,3,3,1);
    padding: 15px;
    background: #f2eff2;
}

.movie-page>h1 {
    margin-bottom: 5px;
    font-family: 'El Messiri', sans-serif;
    font-weight: 600;
    font-size: 35px;
    text-decoration: underline;
}

.movie-info {
    display: flex;
    justify-content: space-between;
    margin: 30px 5%;
}

.movie-poster {
    width: 25%;
}

.movie-poster>img {
    width: 80%;
    height: 52vh;
    border: 3px solid grey;
    border-radius: 5px;
}

.btn-buy {
    position: relative;
    display: block;
    width: 10vw;
    margin: 50px auto 0px;
    font-size: 30px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    border: 3px solid #fff;
    background: grey;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 20px grey;
}

.movie-poster:hover>img {
    border: 3px solid #cc0000;
}

.movie-poster:hover>.btn-buy {
    color: #fff;
    background: #cc0000;
    box-shadow: 0px 0px 0px 20px #cc0000;
}

.btn-buy::before{
    content: "";
    position: absolute;
    top: 33%;
    left: -36px;
    width: 40px;
    height: 15px;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    transform: rotate(90deg); 
    background: #f2eff2;
}

.btn-buy::after{
    content: "";
    position: absolute;
    top: 33%;
    right: -36px;
    width: 40px;
    height: 15px;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    background: #f2eff2;
    transform: rotate(-90deg); 
}

.btn-buy.modal {
    margin: 30px auto 0;
    background: #cc0000;
    box-shadow: 0px 0px 0px 20px #cc0000;
}

.about-movie {
    width: 70%;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.about-movie>div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.about-movie>div>div:nth-child(2n+1) {
    font-weight: 600;
    text-decoration: underline;
    margin-right: 10px;
}

.about-movie>div>div:nth-child(2n) {
    font-weight: 400;
}

.about-movie>div:nth-last-child(2) {
    margin-top: 30px;
    width: 45vw;
}

.about-movie iframe {
    margin-top: 15px;
    width: 44vw;
    height: 50vh;
}

.about-movie>div>div:first-child {
    width: 15%;
}

.about-movie>div>div:last-child {
    width: 80%;
}