@font-face {
  font-family: "Star Wars";
  src: url(./assets/fonts/starwars/STARWARS.ttf);
}

.App {
  text-align: center;
}

.fail-load img {
  width: 250px;
  height: 300px;
}

.fail-load h1 {
  font-family: "Star Wars";
  text-transform: uppercase;
}
